<nav class="breadcrumbs" aria-label="Хлебные крошки">
  <ol>
{%- for c in breadcrumbs %}
{%- if c.item %}
    <li><a href="{{ c.item | replace('https://ursdom.ru','') }}">{{ c.name }}</a></li>
{%- else %}
    <li>{{ c.name }}</li>
{%- endif %}
{%- endfor %}
  </ol>
</nav>
