    {
      "@type": "Article",
      "@id": "{{ canonical }}#article",
      "mainEntityOfPage": "{{ canonical }}",
      "headline": "{{ headline }}",
      "description": "{{ jsonld_description }}",
      "image": "https://ursdom.ru/img/og-cover.png",
      "inLanguage": "ru-RU",
      "datePublished": "{{ datePublished }}",
      "dateModified": "{{ dateModified }}",
      "author": { "@type": "Person", "name": "Хосе Шоу", "jobTitle": "инженер", "url": "https://ursdom.ru/o-proekte/" },
      "publisher": { "@type": "Organization", "name": "НАШДОМ", "url": "https://ursdom.ru/" }
    }